<h1>Editing Notification Content</h1>

<%= render 'form', notification_content: @notification_content %>

<%= link_to 'Show', @notification_content %> |
<%= link_to 'Back', notification_contents_path %>
